# Dependencies
node_modules/

# Build output
dist/
build/
coverage/

# Environment — NE JAMAIS committer les secrets
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# Prisma
prisma/*.db
prisma/*.db-journal

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# TS incremental cache
*.tsbuildinfo
